{% extends "base.html.twig" %}

{% block title %}Administration - CMS Garden CMS Compass {% endblock %}

{% block body %}
    <p>
        This will become the index page for the administration interface
    </p>
{% endblock %}

