<ul>
    <li id="home" {% if active == 'home' %}class="active"{% endif %}>
        <a href="{{ path('admin_home') }}">
            <span class="fa fa-home" aria-hidden="true"></span>
            <span class="a11y-hidden">Home</span>
        </a>
    </li>
    <li {% if active == 'users' %}class="active"{% endif %}>
        <a href="{{ path('admin_list_users') }}">Users</a>
    </li>
    <li {% if active == 'cms' %}class="active"{% endif %}>
        <a href="{{ path('admin_list_cms') }}">CMS</a>
    </li>
    <li {% if active == 'features' %}class="active"{% endif %}>
        <a href="{{ path('admin_list_features') }}">Available features</a>
    </li>
</ul>


