

    <ul>
        <li>
            <a href="{{ path('admin_list_users') }}">Users</a>
        </li>
        <li>
            <a href="{{ path('admin_list_cms') }}">CMS</a>
        </li>
        <li>
            <a href="{{ path('admin_list_features') }}">Available features</a>
        </li>
    </ul>


