<ul>
    <li {% if active == 'users' %}class="active"{% endif %}>
        <a href="{{ path('admin_list_users') }}">Users</a>
    </li>
    <li {% if active == 'cms' %}class="active"{% endif %}>
        <a href="{{ path('admin_list_cms') }}">CMS</a>
    </li>
    <li {% if active == 'features' %}class="active"{% endif %}>
        <a href="{{ path('admin_list_features') }}">Available features</a>
    </li>
</ul>


